@font-face {
    font-family: 'Canela';
    src: url('Canela-Regular.eot');
    src: url('Canela-Regular.eot?#iefix') format('embedded-opentype'),
        url('Canela-Regular.woff2') format('woff2'),
        url('Canela-Regular.woff') format('woff'),
        url('Canela-Regular.ttf') format('truetype'),
        url('Canela-Regular.svg#Canela-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-Medium.eot');
    src: url('Canela-Medium.eot?#iefix') format('embedded-opentype'),
        url('Canela-Medium.woff2') format('woff2'),
        url('Canela-Medium.woff') format('woff'),
        url('Canela-Medium.ttf') format('truetype'),
        url('Canela-Medium.svg#Canela-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-Bold.eot');
    src: url('Canela-Bold.eot?#iefix') format('embedded-opentype'),
        url('Canela-Bold.woff2') format('woff2'),
        url('Canela-Bold.woff') format('woff'),
        url('Canela-Bold.ttf') format('truetype'),
        url('Canela-Bold.svg#Canela-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

